

body { 
  background-color: #343a40; 
}

input[type=file], textarea, input[type=date] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }

 

  button:hover{
    background-color:  grey;
  }
  

  .deconnexion {
    width:fit-content;
    margin:20px auto;
    padding:10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    background-color: black;
    cursor: pointer;
    transition-duration: 0.25s;
  }


  a{
    text-decoration: none;
    color:white;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
  }

  label {
    margin-right: 0px;
    margin-left: 0px; 
    width: 100%;
    font-size: 20px;
    }

  
  
  input[type=submit] {
    background-color:gray ;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  input[type=submit]:hover {
    background-color: rgb(97, 92, 90);
  }
  
  .modification{
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    background-color:#212529;
    color: white;
    padding:20px;
    width: 100%;
   
  
  
 
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin: 100px auto;
  }


 

  .profile-user-name {
    text-align: center;
    justify-content: center;
  }
  
