*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  background-color: #343a40;
}

#container{
  margin:auto;
  display: flex;
  color:#f8f9fa;
  flex-direction: column;
  width:500px;
  box-shadow: 1px 2px 71px -6px rgba(0,0,0,0.67);
  height:fit-content;
  font-family: 'Ubuntu', sans-serif;
  background-color: #212529;
  padding:50px 20px;
  border-radius: 10px;
}
#Heading{
  padding:10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
}
label{
  font-size: 1.2em;
  font-weight: 500;
  margin:10px 0px;
}
input{
  padding:10px;
  border-top-right-radius: 10px;
  height: 50px;
  border: none;
  background-color: #6c757d;
  border-bottom-right-radius:10px;
  font-size:19.2px;
  
  color:#f8f9fa;
}
input:focus{
  outline: none;
  background-color: none;
}
input::placeholder{
  color:#f8f9fa;
  font-size: 19.2px;
}
.row{
  width:100%;
  height:fit-content;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50px;
}
.icon{
  height: 50px;
  margin-right:1px;
  background-color: #6c757d;
  border-top-left-radius: 10px;
  padding:10px;
  border-bottom-left-radius: 10px;
  fill:white;
}
button{
  width:fit-content;
  margin:20px auto;
  padding:10px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  color: black;
  background-color: white;

  font-size: 1.1em;
  cursor: pointer;
  transition-duration: 0.25s;
}
button:hover{
  background-color: gray;
}
span{
  display: flex;
  justify-content: space-between;

}
a{
  text-decoration: none;
  color:black;
}
span>span>a{
  margin:0px 5px
}
.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 70%;
  height: 50%;
}

#container {
  max-width: 500px; /* largeur maximale du formulaire */
  width: 100%;
  margin-top: 20px;
  box-shadow: 1px 2px 71px -6px rgba(0,0,0,0.67);
  background-color: #212529;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 10%;
}

/* Média requêtes pour les écrans de petite taille */
@media (max-width: 767px) {
  .container {
    justify-content: center;
  }

  #login-form {
    margin-top: 0; /* supprimer la marge supérieure pour le formulaire */
    border-radius: 0; /* supprimer la bordure arrondie pour le formulaire */
    padding: 20px; /* réduire l'espacement intérieur pour le formulaire */
  }

  .logo {
    width: auto;
  }

  #Heading {
    font-size: 2rem;
  }
}







