body {
  background-color: #343a40;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}



  #profil {
    display: flex;
    flex-direction: column; /* permet de placer les éléments verticalement */
    align-items: center; /* centre les éléments horizontalement */
    justify-content: center; /* centre les éléments verticalement */
    height: 100vh;
    }
  
    .publication {
      display: flex;
      flex-direction: column; /* permet de placer les éléments verticalement */
      align-items: center; /* centre les éléments horizontalement */
      justify-content: center; /* centre les éléments verticalement */
    }
 


    .mapubli {
      border: 3px solid white;
      padding: 10px;
      text-align: center;
      margin-bottom: 30px;
      background-image: url('../images/fondmetal.jpg');
      background-size: cover;
      width: 100%;
    }

  input{
    padding:10px;
    border-top-right-radius: 10px;
    height: 50px;
    border: none;
    background-color: #6c757d;
    border-bottom-right-radius:10px;
    font-size:19.2px;
    color:#f8f9fa;
  }

  

  input:focus{
    outline: none;
    background-color: none;
  }


  input::placeholder{
    color:#f8f9fa;
    font-size: 19.2px;
  
  }

  /* Gallery Section */
  .container {
    display: flex;
  }
  
  .gallery {
    flex: 1;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  

  
  /* pour que toutes les images soient de la même taille */

  .image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
  }

  .imageprofil{
    width: 300px;
    height: 300px;
    border: 4px solid black;
    object-fit: cover;
    margin-right: 20px;
    
  }
  
 /* boutons en haut */
 
    .buttondeconnexion {
      width:fit-content;
      margin:20px auto;
      padding:10px 20px;
      outline: none;
      border: none;
      border-radius: 20px;
      font-weight: 700;
      color:white;
      background-color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.5em;
      cursor: pointer;
      transition-duration: 0.25s;
    }
  
    .buttonprofil {
      width:fit-content;
      margin:20px auto;
      padding:10px 20px;
      outline: none;
      border: none;
      border-radius: 20px;
      font-weight: 700;
      color:white;
      background-color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.5em;
      cursor: pointer;
      transition-duration: 0.25s;
    }

    .buttonmodif {
      width:fit-content;
      margin:20px auto;
      padding:10px 20px;
      outline: none;
      border: none;
      border-radius: 20px;
      font-weight: 700;
      color:white;
      background-color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.5em;
      cursor: pointer;
      transition-duration: 0.25s;
    }

    
    button:hover{
      background-color: grey
    }
  
  

    a{
      text-decoration: none;
      color:white;
    }
  
  
    .mapubli {
      border: 3px solid white;
      padding: 10px;
      text-align: center;
      justify-content: center;
      margin-bottom: 30px;
      background-image: url('../images/fondmetal.jpg');
      background-size: cover;
    }
  
    .publi {
      font-size: 30px;
      text-align: center;
      justify-content: center;
    }
    
    .publication-image {
      border: 2px solid white;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    .pseudoname {
      width: 100px;
    }
    
    .comments {
      text-align: center;
      justify-content: center;
    }
    
    .center {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    .publiintro {
      border: 3px solid black;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-image: url(../images/fondmetal.jpg);
      margin-bottom: 10px;
      margin-top: 5px;
    }
 
  
  
  h1 {
    font-size: 25px;
  }
  

  /* Loader */
  
  .loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
  }
  
  
  @keyframes loader {
    to {
        transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 767px) {
 
    .imageprofil {
      width: 200px;
      height: 200px;
    }
    .buttondeconnexion, .buttonprofil, .buttonmodif {
      font-size: 1.5em;
      padding: 8px 16px;
    }
  }
  
  @media only screen and (max-width: 575px) {

    .imageprofil {
      width: 20vw;
      height: 150px;
    }
    .buttondeconnexion, .buttonprofil, .buttonmodif {
      font-size: 1.5em;
      padding: 6px 12px;
    }
    
  }
  
  @media only screen and (max-width: 375px) {
  
    .imageprofil {
      width: 100px;
      height: 100px;
    }
    .buttondeconnexion, .buttonprofil, .buttonmodif {
      font-size: 0.7em;
      padding: 4px 8px;
    }
  }
  
  
  
  


  
  
    
  
   

 